
@{
    ViewBag.Title= "SPA App";
}



   
    <div data-ng-app="toyApp"> 
        <!--Placeholder for the views-->
        <div data-ng-view=""></div>
       
        </div>


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/SAP/ToyApp.js"></script>